ECHOES_ENV=development

FIREBASE_PROJECT_NUMBER=1078284126632
FIREBASE_PROJECT_ID=echoes-d0cef
FIREBASE_STORAGE_BUCKET=echoes-d0cef.firebasestorage.app
FIREBASE_ANDROID_APP_ID=1:1078284126632:android:173f8d5f27ef790edaf59d
FIREBASE_ANDROID_PACKAGE_NAME=com.phantom.echoes
FIREBASE_ANDROID_OAUTH_CLIENT_ID=1078284126632-naakhs8bsnkaqoojhrun88okh8th4p15.apps.googleusercontent.com
FIREBASE_ANDROID_API_KEY=AIzaSyCs9zKv84D957Lu4309vrViA8OMsxAIW-0
